<html>
    <head>

    </head>
    <body>
       <form asp-action="UploadFile" method="post" enctype="multipart/form-data">
           <div class="form-group">
               <label for="formFile">Makale ismi</label>
               <input id="fromFile" type="file" name="formFile" accept=".pdf" class="form-control"/>
           </div>

           <br />
           <div class="form-group text-right">
               <button type="submit" class="btn btn-danger">Siteye yükle</button>
           </div>
       </form>
    </body>
</html>